# for all subdirectories
*.la
*.lo
*.o
*.mod
*.orig
*~
\#*#
Makefile

# autotools stuff
autom4te.cache/
config.*
include/lis_config.h
include/lisf.h
include/stamp-h1
libtool

# tests and libraries
test/
.libs/
